.card {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.75em;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card:nth-child(even) {
  margin: 0 1em;
}

.card-top {
  background: #B2DCE5;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}
.card-top .card-img {
  width:100%;
  height:100%;
  display:block;
}

.triangle {
  position: relative;
  height: 0;
  width: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1.5em solid transparent;
  margin: 0 auto -1.75em auto;
  top: -.25em;
  z-index: 20;
}

.card-middle {
  display: none;
  background: #efefef;
  padding: 2em 1em 1em 1em;
}
.card-middle .more {
  font-family: Open Sans;
  font-weight: 400;
}

.card-middle1 {
  display: none;
  background: #efefef;
  padding: 2em 1em 1em 1em;
}
.card-middle1 .more {
  font-family: Open Sans;
  font-weight: 400;
}

.card-bottom {
  background: #f7f7f7;
  padding: 1.75em 1em 1em 1em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}
.card-bottom .card-title {
  font-weight: 100;
}

.circle-button {
  position: absolute;
  bottom: 0;
  right: 3.5em;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: #fff;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
  outline: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.circle-button .close {
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
.circle-button .close1 {
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
.circle-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
}

.closeRotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close1:hover, .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.close1 {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
#kiket p{
  color: black;
  text-align: justify;
  font-size: 15px;
}
